//  06. footer css here
.hero_banner3{
    height: 1010px;
    margin-bottom: 0;
    @media #{$laptop-device}{
        height: 920px;
    }
    @media #{$desktop-device}{
        height: 780px;
    }
    @media #{$tablet-device}{
        height: 630px;
    }
    @media #{$large-mobile}{
        height: 550px;
    }
    @media #{$small-mobile2}{
        height: 500px;
    }
}
.breadcrumb_about{
    padding-top: 0;
    @media #{$small-mobile2}{
        padding-top: 70px;
    }
}
.counterup_story_section{
    background: #eeedf1;
    padding-bottom: 112px;
    margin-bottom: 134px;
    @media #{$tablet-device}{
        padding-bottom: 80px;
        margin-bottom: 78px;
    }
    @media #{$large-mobile}{
        padding-bottom: 64px;
        margin-bottom: 60px;
    }
    @media #{$small-mobile2}{
        padding-bottom: 36px;
    }
}
.logit_about_story {
    background: #ffffff;
    padding: 70px;
    position: relative;
    top: -125px;
    box-shadow: 50px 0 120px rgba(0, 0, 0, 0.2);
    @media #{$desktop-device}{
        padding: 40px;
    }
    @media #{$tablet-device}{
        padding: 36px;
        top: -84px;
    }
    @media #{$large-mobile}{
        padding: 30px;
        flex-direction: column;
        top: -65px;
    }
    @media #{$small-mobile2}{
        padding: 20px;
        top: -60px;
    }
}
.about_story_thumb{
    width: 430px;
    @media #{$desktop-device}{
        width: 380px;
    }
    @media #{$tablet-device}{
        width: 310px;
    }
    @media #{$large-mobile}{
        width: 100%;
    }
    & img{
        @media #{$large-mobile}{
            width: 100%;
        }
    }
}

.about_story_content{
    width: calc(100% - 430px);
    padding-left: 70px;
    & .section_title{
        margin-bottom: 45px;
        @media #{$desktop-device}{
            margin-bottom: 22px;
        }
        @media #{$tablet-device}{
            margin-bottom: 16px;
        }
        @media #{$large-mobile}{
            margin-bottom: 17px;
        }
        & span{
            margin-bottom: 23px;
            @media #{$desktop-device}{
                margin-bottom: 14px;
            }
            @media #{$tablet-device}{
                margin-bottom: 4px;
            }
            @media #{$large-mobile}{
                margin-bottom: 7px;
            }
        }
    }
    @media #{$desktop-device}{
        width: calc(100% - 380px);
        padding-left: 30px;
    }
    @media #{$tablet-device}{
        width: calc(100% - 310px);
        padding-left: 25px;
    }
    @media #{$large-mobile}{
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
    }
}
.about_story_desc{
    & h3{
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 34px;
        @media #{$desktop-device}{
            font-size: 20px;
            margin-bottom: 18px;
        }
        @media #{$tablet-device}{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 12px;
        }
        @media #{$large-mobile}{
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 20px;
        }
    }
    & p.desc{
        font-size: 14px;
        line-height: 30px;
        color: #666666;
        margin-bottom: 30px;
        @media #{$desktop-device}{
            line-height: 28px;
            margin-bottom: 17px;
        }
        @media #{$tablet-device}{
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 9px;
        }
        @media #{$large-mobile}{
            line-height: 27px;
            margin-bottom: 14px;
        }
    }
    & p.aothur{
        font-size: 14px;
        line-height: 30px;
        color: #999999;
        font-weight: 600;
        & a{
            color: #010101;
            text-transform: uppercase;
            &:hover{
                color: $secondary_color;
            }
        }

    }
}
.counterup_about{
    & .counterup_inner {
        padding: 0;
    }
    & .single_text {
        &::before{
            background: #d1d0d4;
        }
    }
}

.about_gallery_section{
    margin-bottom: 118px;
    @media #{$tablet-device}{
        margin-bottom: 78px;
    }
    @media #{$large-mobile}{
        margin-bottom: 59px;
    }
}
.about_gallery_inner {
    @media #{$small-mobile2}{
        flex-direction: column;
    }
}
.about_gallery_header{
    margin-bottom: 54px;
    @media #{$tablet-device}{
        margin-bottom: 40px;
    }
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
    & h2{
        font-size: 27px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 27px;
        @media #{$large-mobile}{
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 18px;
        }
    }
    & p{
        font-size: 14px;
        line-height: 24px;
        color: #555555;
        padding: 0 60px;
        @media #{$large-mobile}{
            padding: 0;
        }

    }
}
.about_gallery_list{
    margin-right: 11px;
    &:last-child{
        margin-right: 0;
        @media #{$small-mobile2}{
            margin-bottom: 0;
        }
    }
    @media #{$small-mobile2}{
        margin-right: 0;
        margin-bottom: 11px;
    }
}
.about_gallery_thumb{
    margin-bottom: 11px;
    overflow: hidden;
    &:last-child{
        margin-bottom: 0;
    }
    &:hover{
        & img{
            transform: scale(1.1);
        }
    }
    & img{
        transition: .3s;
        @media #{$small-mobile2}{
            width: 100%;
        }
    }
}
.about_progress_section{
    margin-bottom: 180px;
    @media #{$tablet-device}{
        margin-bottom: 80px;
    }
    @media #{$large-mobile}{
        margin-bottom: 60px;
    }
    & .history_year_discount span.progress_discount{
        color: #8f20a3;
    }
}
.about_makesus{
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
    & h3{
        font-size: 27px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 27px;
        @media #{$large-mobile}{
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 16px;
        }
    }
    & p{
        font-size: 14px;
        line-height: 24px;
        color: #555555;
        margin-bottom: 24px;
        & span{
            color: #226ce0;
        }
        @media #{$large-mobile}{
            margin-bottom: 18px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}